#direct-payment-wrapper {
    display: block;
    width: 100%;
}

.cart #direct-payment-wrapper {
    float: left;
    text-align: left !important;
}

#direct-payment-wrapper a.direct-payment-button,
#direct-payment-wrapper button.direct-payment-button {
    display: inline-block !important;
    padding: 5px 0 !important;
    width: calc(100% - 30px) !important;
    max-width: 257px !important;
    height: auto !important;
    text-transform: initial !important;
    border-radius: 4px !important;
    font-weight: 400 !important;
    background: #0094FF !important;
}

#direct-payment-wrapper button.direct-payment-button.product-page {
    max-width: 250px !important;
}

#direct-payment-wrapper a.direct-payment-button:hover,
#direct-payment-wrapper button.direct-payment-button:hover,
#direct-payment-wrapper a.direct-payment-button:focus,
#direct-payment-wrapper button.direct-payment-button:focus {
    text-decoration: none !important;
}

#direct-payment-wrapper a.direct-payment-button img,
#direct-payment-wrapper button.direct-payment-button img {
    padding: 5px 0 !important;
    width: calc(100% - 30px) !important;
    max-width: 250px !important;
    height: auto !important;
    margin: auto !important;
}

.woocommerce-variation-add-to-cart-disabled #direct-payment-wrapper button[name="add-to-cart-direct"] {
    opacity: 0.2 !important;
    pointer-events: none !important;
}

.product #direct-payment-wrapper button.direct-payment-button {
    margin-top: 20px !important;
}

.woocommerce-cart #direct-payment-wrapper a.direct-payment-button {
    margin: 20px auto 0 !important;
}

.woocommerce-checkout #direct-payment-wrapper a.direct-payment-button {
    margin: 0 auto 20px !important;
}

button.direct-payment-button.button.alt,
a.direct-payment-button.button.alt,
button.direct-payment-button.button.alt:hover,
a.direct-payment-button.button.alt:hover {
    background: #0094FF !important;
    font-size: 0;
}

button.direct-payment-button.button.alt::after,
a.direct-payment-button.button.alt::after,
button.direct-payment-button.button.alt:hover:after,
a.direct-payment-button.button.alt:hover:after {
    display: none !important;
    font-size: 0 !important;
    opacity: 0 !important;
}

li.payment_method_klix img,
li.payment_method_bank_transfer img,
li.payment_method_klix_pay_later img,
li.payment_method_klix_card img {
    max-width: 200px !important;
    height: 41px !important;
    max-height: 41px !important;
    display: block;
    margin: 10px 0;
    float: none !important;
}

li.payment_method_klix:nth-child(1),
li.payment_method_bank_transfer:nth-child(1),
li.payment_method_klix_pay_later:nth-child(1),
li.payment_method_klix_card:nth-child(1) {
    margin-top: 20px !important;
}

li.payment_method_bank_transfer .spell--pm-wrapper {
    display: flex;
    align-items: center;
}

li.payment_method_bank_transfer .spell--pm-wrapper span {
    margin-left: 15px;
}

li.payment_method_bank_transfer > label > img {
    display: none !important;
}

li.payment_method_bank_transfer .spell-pm-image img {
    margin-left: 40px !important;
    margin-top: 25px !important;
}

@media (max-width: 767px) {
    li.payment_method_bank_transfer .spell-pm-image img {
        width: 100px !important;
        height: 30px !important;
        margin-left: 15px !important;
    }
}
